* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*tamanho referencia de fontes*/
:root {
  font-size: 16px;
}

/*modificação da barra de rolagem*/
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #2c2c31;
}
::-webkit-scrollbar-thumb {
  background-color: #665688;
}
/*-----------------------------*/

/*animaçãio de entrada*/
@keyframes entering {
  from {
    opacity: 0;
    transform: translateY(300px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes entering2 {
  from {
    opacity: 0;
    transform: translateY(-300px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
body {
  background-color: #121215;
  color: #eaeaea;
  font-family: "Roboto", sans-serif;
  display: grid;
  grid-template-areas: "profile timeline";
  grid-template-columns: 0.5fr 1fr;
  grid-template-rows: 100vh;
}

nav {
  padding: 64px;
  grid-area: timeline;
  overflow-y: scroll;
  animation: entering 2s;
}

.evento {
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-decoration: none;
  margin-bottom: 64px;
}
.evento small {
  color: #b1b1b1;
  font-size: 0.75rem;
}

.evento h1 {
  font-size: 2rem;
  color: #eaeaea;
}

.evento img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 8px;
  transition: transform 0.4s ease-in-out;
}

/*ajuste do zoom no hover da imagem*/
.evento div {
  width: 100%;
  height: 400px;
  overflow: hidden;
  border-radius: 8px;
}

.evento:hover img {
  transform: scale(1.1);
}
.evento p {
  font-family: Roboto, sans-serif;
  font-size: 1.125rem;
  color: #bebebf;
  line-height: 28px;
}
aside {
  grid-area: profile;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  border-right: 1px solid;
  border-image: linear-gradient(#727275, #2c2c31) 1;
  background-image: url(./assets/background.svg);
  background-position: top right;
  background-repeat: no-repeat;
  background-size: auto 100%;
}

aside * {
  animation: entering2 2s;
}

aside img:nth-child(2) {
  width: 200px;
  height: 200px;

  border-radius: 50%;

  border: 4px solid transparent;
  background: linear-gradient(#d39e33, #ed5636, #633bbc) padding-box,
    linear-gradient(260deg, #d39e33, #ed5636, #633bbc) border-box;
}

aside p {
  font-size: 2rem;
  font-family: Roboto, sans-serif;
  text-align: center;
}

aside span {
  font-size: 0.75rem;
  color: #9e9ea0;
}
/*responsividade mobile*/
@media (max-width: 768px) {
  /*novo padrão tamanho de fonte*/
  :root {
    font-size: 14px;
  }
  body {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 0.8fr;
    grid-template-areas:
      "profile"
      "timeline";
  }
  aside {
    border-right: none;
    padding: 30px 10px;
  }

  nav {
    overflow-y: visible;
    padding: 3%;
  }
}
